{% extends "base.html" %}
{% block title %} About {% endblock %}
{% block body %}
<div class="container py-4">

    <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">About Wooless</h1>
        <p class="col-md-8 fs-4">Dibuat untuk tutorial DevOps Dunia Nyata.</p>
        <p class="col-md-8 fs-4">DDN (DevOps Dunia Nyata) - Terjemahan dari "Real World Devops". Channel yang dibuat khusus untuk membahas dunia DevOps secara praktis. Video yang dibuat tidak hanya contoh "hello-world" namun dibuat khusus untuk praktik langsung (hands-on) yang bermanfaat di dunia nyata dan di dunia kerja bagi kamu yang sedang bekerja atau baru meniti karir di dunia DevOps. </p>
        <a href="https://www.youtube.com/channel/UCmmbyQsV012ocN2kpQ6fZog" class="btn btn-danger btn-lg" role="button">Subscribe!</a>
      </div>
    </div>
      
</div>
{% endblock %}