{% extends "base.html" %}
{% block title %}Home {% endblock %}
{% block body %}
<!-- BODY -->
<div class="container-sm">
  <div class="row">
      <div class="col">
          <div class="card" style="width: 18rem;">
              <img src="https://res.cloudinary.com/rajahoster/image/upload/v1644130405/wooless/devops/devops_cwi0qg.png" class="card-img-top" alt="DevOps">
              <div class="card-body">
              <h5 class="card-header">Kelas Devops</h5>
              <p class="card-text">Kelas yang diperuntukan untuk kamu yang akan memulai karir sebagai DevOps. </p>
              <a href="https://www.youtube.com/channel/UCmmbyQsV012ocN2kpQ6fZog" class="btn btn-primary">Daftar</a>
              </div>
          </div>
      </div>

      <div class="col">
          <div class="card" style="width: 18rem;">
              <img src="https://res.cloudinary.com/rajahoster/image/upload/v1644130405/wooless/devops/docker_kkztov.png" class="card-img-top" alt="Docker">
              <div class="card-body">
              <h5 class="card-header">Kelas Docker</h5>
              <p class="card-text">Kelas yang diperuntukan untuk kamu yang mau mempelajari Docker. </p> 
              <a href="https://www.youtube.com/channel/UCmmbyQsV012ocN2kpQ6fZog" class="btn btn-primary">Daftar</a>
              </div>
          </div>
      </div>

      <div class="col">
          <div class="card" style="width: 18rem;">
              <img src="https://res.cloudinary.com/rajahoster/image/upload/v1644130406/wooless/devops/kubernetes_jhjlwk.png" class="card-img-top" alt="Kubernetes">
              <div class="card-body">
              <h5 class="card-header">Kelas Kubernetes</h5>
              <p class="card-text">Kelas diperuntukan untuk kamu yang akan mulai mempelajari Kubernetes. </p>
              <a href="https://www.youtube.com/channel/UCmmbyQsV012ocN2kpQ6fZog" class="btn btn-primary">Daftar</a>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- END BODY -->
{% endblock %}